#### while 조건:

    들여쓰기

In [5]:
n = 1
sum = 0 #누적할 변수

while n <= 10 :
    
    print(n)
    sum += n
    
    n+=1
    
print('1~10합:', sum)

1
2
3
4
5
6
7
8
9
10
1~10합: 55

In [6]:
# 50~100까지 합

a = 50
sum = 0
while a <= 100 :
    sum += a
    a += 1
    
print('50~100:', sum)

50~100: 3825

In [9]:
b = 1

while b <= 100 :
    
    if b % 2 == 0 :
        print(b, ' ', end='')
    
    b += 1

2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72  74  76  78  80  82  84  86  88  90  92  94  96  98  100

In [18]:
'''
* 구구단 n단 출력하기
1. 사용자에게 구구단 수를 입력받습니다.
2. while문을 사용해서 n단을 단순히 출력

ex)구구단 수> 4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
.
.
4 x 9 = 36
'''

n = int(input('>'))
i = 0
while i < 9 :
    i+=1
    
    print(n, 'x', i, '=', n*i)

>4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [22]:
'''
while연습
- 정수를 2개 입력받아서 x부터 y값 까지
누적합을 구하는 코드를 while문을 사용해서 작성.

- 우선 처음는 x값이 무조건 작은 값이 들어올 것이다
이렇게 가정하고 코드를 작성하면 됩니다.

'''

x = int(input('x>'))
y = int(input('y>'))

if x > y :
#    temp = x
#    x = y
#    y = temp
    x, y = y, x # 두 변수의 자리를 바꾸는 방법

sum = 0
while x <= y :
    
    sum += x
    
    x+=1
print('합:', sum)

x>7
y>6
합: 13